out/
bin-debug/
.idea/workspace.xml
.idea/uiDesigner.xml
.settings/
.project
.actionScriptProperties
demo_workspace/settings/editor_template.json
demo_workspace/settings/recent_open.json
demo_workspace/settings/libs.json